<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Endereço do servidor TFS -->
		<add key="SERVERTFS" value="http://mereoconsulting.tfspreview.com\DefaultCollection" />
		<!-- Caminho raiz do workspace -->
		<add key="PATHWORKSPACE" value="C:\Projects\MereoConsulting\Solutions" />
		<!-- Caminho default para os arquivos temporários do deploy de todos os sistemas. -->
		<!-- Caso seja necessário um caminho especifico para um sistema adicionar a chave "NOMESISTEMA-TEMPDEPLOYPATH"  -->
		<add key="TEMPDEPLOYPATH" value="C:\deploy\" />
		<!-- Lista de arquivos ignore. Separar com "," -->
		<add key="DEFAULT-IGNORE" value="*.config" />
		<!-- Caminho do .bat para carregar os comandos do vs para poder utilizar o msbuild -->
		<add key="PATHVSCOMMANDLINE" value="C:\Program Files\Microsoft Visual Studio 10.0\VC\vcvarsall.bat" />
		<!-- Parametro com o tipo de processador 'x86' ou 'amd64' -->
		<add key="VAR1VSCOMMANDLINE" value="x86"/>
		<!-- Lista LISTA COM OS ALIASES DOS SITEMAS  SEPARAR COM "," -->
		<add key="ALIASESSISTEMAS" value="CORE" />
		
		<!-- CONFIGURACOES DO SISTEMA DE CORE -->
	<!-- APLICACAO HOMOL -->
	<add key="CORE-APP-HML" value="\\lan-db-dev02\wwwroot\MereoGR" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="CORE-WEBPROJ" value="C:\Projects\MereoConsulting\Solutions\MereoGR\MereoGR\Core\MereoGR.Web\MereoGR.Web.csproj" />
		
	</appSettings>
</configuration>