<?xml version="1.0"?>
<configuration>
  <appSettings>
	<!-- Endereço do servidor TFS -->
	<add key="SERVERTFS" value="http://srfbhzteam02:8080/tfs/pdcase_produtos_financeiros" />
	<!-- Caminho raiz do workspace -->
	<add key="PATHWORKSPACE" value="C:\PD_FOMENTO\" />
    <!-- Caminho default para os arquivos temporários do deploy de todos os sistemas. -->
	<!-- Caso seja necessário um caminho especifico para um sistema adicionar a chave "NOMESISTEMA-TEMPDEPLOYPATH"  -->
	<add key="TEMPDEPLOYPATH" value="C:\deploy\" />
	<!-- Lista de arquivos ignore. Separar com "," -->
	<add key="DEFAULT-IGNORE" value="*.config" />
	<!-- Lista LISTA COM OS ALIASES DOS SITEMAS  SEPARAR COM "," -->
	<add key="ALIASESSISTEMAS" value="GARANTIA" />
	<add key="CREDITO-SERVICE-DSV" value="PATH-CREDITO-SERVICE-DSV" />
	<add key="CREDITO-SERVICE-HML" value="PATH-CREDITO-SERVICE-HML" />
	<add key="CREDITO-APP-DSV" value="PATH-CREDITO-APP-DSV" />
	<add key="CREDITO-APP-HML" value="PATH-CREDITO-APP-HML" />
	
	<!-- CONFIGURACOES DO SISTEMA DE GARANTIA -->
	<!-- APLICACAO DESENV -->
	<add key="GARANTIA-APP-DSV" value="\\SRVAPPW02\wwwroot_desenv\fomento_garantia\" />
	<!-- APLICACAO HOMOL -->
	<add key="GARANTIA-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_garantia\" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="GARANTIA-WEBPROJ" value="C:\PD_FOMENTO\FOMENTO_PD_GARANTIA\Desenv\Source\PD.Garantia\PD.Garantia.Aplicacao\PD.Garantia.Web.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="GARANTIA-SERVICEPROJ" value="GARANTIA-SERVICEPROJ" />
	
	
	<!-- CONFIGURACOES DO SISTEMA DE CREDITOLIBERACAO -->
	<!-- APLICACAO DESENV -->
	<add key="CREDITOLIBERACAO-APP-DSV" value="\\SRVAPPW06\Aplicacoes\Fomento_AGEFEPE\fomento_credito\" />
	<!-- APLICACAO HOMOL -->
	<add key="CREDITOLIBERACAO-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_credito_liberacao\" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="CREDITOLIBERACAO-WEBPROJ" value="C:\PD_FOMENTO\FOMENTO_PD_CREDITO\LiberacaoCredito\Source\PD.Credito\PD.Credito.Aplicacao\PD.Credito.Aplicacao.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="CREDITOLIBERACAO-SERVICEPROJ" value="CREDITOLIBERACAO-SERVICEPROJ" />
	
	<!-- CONFIGURACOES DO SISTEMA DE CADASTRO -->
	<!-- APLICACAO DESENV -->
	<add key="CADASTRO-APP-DSV" value="\\SRVAPPW02\wwwroot_desenv\fomento_cadastro" />
	<!-- APLICACAO HOMOL -->
	<add key="CADASTRO-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_cadastro" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="CADASTRO-WEBPROJ" value="C:\PD_FOMENTO\FOMENTO_PD_CADASTRO_PESSOA\Desenv\Source\PD.CadastroPessoa\PD.CadastroPessoa.Aplicacao\PD.CadastroPessoa.Aplicacao.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="CADASTRO-SERVICEPROJ" value="CADASTRO-SERVICEPROJ" />
	
	<!-- CONFIGURACOES DO SISTEMA DE TESOURARIA -->
	<!-- APLICACAO DESENV -->
	<add key="TESOURARIA-APP-DSV" value="\\SRVAPPW02\wwwroot_desenv\fomento_tesouraria\" />
	<!-- APLICACAO HOMOL -->
	<add key="TESOURARIA-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_tesouraria\" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="TESOURARIA-WEBPROJ" value="C:\PD_FOMENTO\FOMENTO_PD_TESOURARIA\Desenv\Source\PD.Tesouraria.Aplicacao\PD.Tesouraria.Aplicacao.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="TESOURARIA-SERVICEPROJ" value="TESOURARIA-SERVICEPROJ" />
	
	<!-- CONFIGURACOES DO SISTEMA DE GESTAOFUNDOS -->
	<!-- APLICACAO DESENV -->
	<add key="GESTAOFUNDOS-APP-DSV" value="\\SRVAPPW02\wwwroot_desenv\fomento_gestao_fundos\" />
	<!-- APLICACAO HOMOL -->
	<add key="GESTAOFUNDOS-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_gestao_fundos\" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="GESTAOFUNDOS-WEBPROJ" value="C:\PD_FOMENTO\FOMENTO_PD_GESTAO_FUNDOS\Trunk\Source\PD.Gestao.Fundos\PD.Gestao.Fundos.Aplicacao\PD.Gestao.Fundos.Aplicacao.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="GESTAOFUNDOS-SERVICEPROJ" value="TESOURARIA-SERVICEPROJ" />
	
	<!-- CONFIGURACOES DO SISTEMA DE COBRANCA -->
	<!-- APLICACAO DESENV -->
	<add key="COBRANCA-APP-DSV" value="\\SRVAPPW02\wwwroot_desenv\fomento_cobranca\" />
	<!-- APLICACAO HOMOL -->
	<add key="COBRANCA-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_cobranca\" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="COBRANCA-WEBPROJ" value="C:\PD_FOMENTO\FOMENTO_PD_COBRANCA\Trunk\Source\PD.CobrancaRecuperacao\PD.CobrancaRecuperacao.Aplicacao\PD.CobrancaRecuperacao.Aplicacao.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="COBRANCA-SERVICEPROJ" value="COBRANCA-SERVICEPROJ" />
	
	<!-- CONFIGURACOES DO SISTEMA DE ANALISE -->
	<!-- APLICACAO DESENV -->
	<add key="ANALISE-APP-DSV" value="\\SRVAPPW02\wwwroot_desenv\fomento_analise_operacao\" />
	<!-- APLICACAO HOMOL -->
	<add key="ANALISE-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_analise_operacao\" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="ANALISE-WEBPROJ" value="C:\PD_FOMENTO\PD_ANALISE_OPERACAO\Desenv\Source\PD.AnaliseOperacao\PD.AnaliseOperacao.Aplicacao\PD.AnaliseOperacao.Aplicacao.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="ANALISE-SERVICEPROJ" value="COBRANCA-SERVICEPROJ" />
  </appSettings>
</configuration>