<?xml version="1.0"?>
<configuration>
  <appSettings>
	<!-- Endereço do servidor TFS -->
	<add key="SERVERTFS" value="http://srfbhzteam02:8080/tfs/pdcase_produtos_financeiros" />
	<!-- Caminho raiz do workspace -->
	<add key="PATHWORKSPACE" value="C:\PD_FOMENTO\" />
    <!-- Caminho default para os arquivos temporários do deploy de todos os sistemas. -->
	<!-- Caso seja necessário um caminho especifico para um sistema adicionar a chave "NOMESISTEMA-TEMPDEPLOYPATH"  -->
	<add key="TEMPDEPLOYPATH" value="C:\deploy\" />
	<!-- Lista de arquivos ignore. Separar com "," -->
	<add key="DEFAULT-IGNORE" value="*.config" />
	<!-- Lista LISTA COM OS ALIASES DOS SITEMAS  SEPARAR COM "," -->
	<add key="ALIASESSISTEMAS" value="GARANTIA" />
	<add key="CREDITO-SERVICE-DSV" value="PATH-CREDITO-SERVICE-DSV" />
	<add key="CREDITO-SERVICE-HML" value="PATH-CREDITO-SERVICE-HML" />
	<add key="CREDITO-APP-DSV" value="PATH-CREDITO-APP-DSV" />
	<add key="CREDITO-APP-HML" value="PATH-CREDITO-APP-HML" />
	
	<!-- CAMINHOS DO SISTEMA DE GARANTIA -->
	<!-- APLICACAO DESENV -->
	<add key="GARANTIA-APP-DSV" value="\\SRVAPPW02\wwwroot_desenv\fomento_garantia\" />
	<!-- APLICACAO HOMOL -->
	<add key="GARANTIA-APP-HML" value="\\SRVAPPW06\Aplicacoes\Fomento_HML\fomento_garantia\" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WEB -->
	<add key="GARANTIA-WEBPROJ" value="C:\PD_FOMENTO\FOMENTO_PD_GARANTIA\Desenv\Source\PD.Garantia\PD.Garantia.Aplicacao\PD.Garantia.Web.csproj" />
	<!-- CAMINHO DO ARQUIVO .csproj DO PROJETO WCF -->
	<add key="GARANTIA-SERVICEPROJ" value="GARANTIA-SERVICEPROJ" />
  </appSettings>
</configuration>